@import "font/abril-fatface";
@import "font/playfair-display";

@import "variable/break";

@import "decoration/image-container";

@import "component/global-nav";
@import "component/garden-picker";

@import "page/_common";
@import "page/index";
@import "page/garden";

img {
	//max-width: 50%;
}
