@import "font/abril-fatface";
@import "font/playfair-display";

@import "variable/break";

@import "decoration/image-container";
@import "decoration/switcher";

@import "component/global-nav";
@import "component/garden-map";
@import "component/garden-switcher";
@import "component/butterfly-switcher";
@import "component/foodplant-switcher";
@import "component/popup-item";

@import "page/_common";
@import "page/index";
@import "page/garden";
@import "page/butterflies";
@import "page/foodplants";
@import "page/news-editor";
@import "page/25-years";

.hero {
	.image-with-caption {
		max-width: 100% !important;

		img {
			width: 100%;
			max-height: 100%;
		}
	}

	.caption {
		display: none !important;
	}
}

form.login {
	background: green;
	max-width: $break-small;
	margin: 0 auto;
	text-align: center;

	label {
		display: block;

		span {
			display: block;
		}

		input {
			font-size: 1rem;
			width: 80%;
			box-sizing: border-box;
			padding: 0.5rem;
		}
	}

	button {
		font-size: 1.5rem;
		padding: 0.5rem 2rem;
		margin: 1rem;
	}
}
