body.uri-- {
	>header {

	}

	>h1 {
		margin: 1em 1rem;
		font-family: "Abril Fatface", serif;
		font-weight: normal;
		font-size: 12vw;
		color: #ffe5c3;
		text-align: center;

		@media(min-width: $break-small) {
			font-size: 8rem;
			width: 9em;
			padding: 0 2rem;
			margin: 1em auto;
			text-align: left;
		}
	}

	article[data-content="Introduction"] {
		.blurb {
			font-size: 2rem;
		}
		p.float:first-of-type~h1 {
			clear: both;
		}
	}
}
