%c-popup-item {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;

	img {
		position: fixed;
		box-sizing: border-box;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		padding: 1rem;
		object-fit: contain;
	}

	&::before {
		content: "";
		display: block;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(black, 0.8);
	}
}
