%d-switcher {
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

	>li {
		box-sizing: border-box;
		width: 50%;
		padding: 0.5rem;

		>a {
			background-color: rgba(black, 0.5);
			background-size: cover;
			background-position: bottom left;
			background-blend-mode: overlay;
			padding: 2rem;
			display: block;
			text-decoration: none;
			text-align: center;
			z-index: 1;
			border-radius: 1rem;

			&:hover {
				background-color: rgba(#a14f00, 0.2);
			}
		}
	}
}
